{{ ansible_managed | comment('xml') }}
<clickhouse>
    <logger>
        <level>{{ clickhouse_logger.level }}</level>
        <log>{{ clickhouse_logger.log }}</log>
        <errorlog>{{ clickhouse_logger.errorlog }}</errorlog>
        <size>{{ clickhouse_logger.size }}</size>
        <count>{{ clickhouse_logger.count }}</count>
    </logger>
{% if clickhouse_tcp_port is defined %}
    <tcp_port>{{ clickhouse_tcp_port }}</tcp_port>
{% endif %}
{% if clickhouse_tcp_secure_port is defined %}
    <tcp_port_secure>{{ clickhouse_tcp_secure_port }}</tcp_port_secure>
{% endif %}
{% if clickhouse_tcp_with_proxy_port is defined %}
    <tcp_with_proxy_port>9011</tcp_with_proxy_port>
{% endif %}
{% if clickhouse_http_port is defined %}
    <http_port>{{ clickhouse_http_port }}</http_port>
{% endif %}
{% if clickhouse_https_port is defined %}
    <https_port>{{ clickhouse_https_port }}</https_port>
{% endif %}
    <openSSL>
        <server>
            <certificateFile>{{ clickhouse_ssl_server.certificate_file }}</certificateFile>
            <privateKeyFile>{{ clickhouse_ssl_server.private_key_file }}</privateKeyFile>
            <dhParamsFile>{{ clickhouse_ssl_server.dh_params_file }}</dhParamsFile>
            <verificationMode>{{ clickhouse_ssl_server.verification_mode }}</verificationMode>
            <loadDefaultCAFile>{{ clickhouse_ssl_server.load_default_ca_file }}</loadDefaultCAFile>
            <cacheSessions>{{ clickhouse_ssl_server.cache_sessions }}</cacheSessions>
            <disableProtocols>{{ clickhouse_ssl_server.disable_protocols }}</disableProtocols>
            <preferServerCiphers>{{ clickhouse_ssl_server.prefer_server_ciphers }}</preferServerCiphers>
        </server>
        <client>
            <loadDefaultCAFile>{{ clickhouse_ssl_client.load_default_ca_file }}</loadDefaultCAFile>
            <cacheSessions>{{ clickhouse_ssl_client.cache_sessions }}</cacheSessions>
            <disableProtocols>{{ clickhouse_ssl_client.disable_protocols }}</disableProtocols>
            <preferServerCiphers>{{ clickhouse_ssl_client.prefer_server_ciphers }}</preferServerCiphers>
            <invalidCertificateHandler>
                <name>{{ clickhouse_ssl_client.invalid_certificate_handler_name }}</name>
            </invalidCertificateHandler>
        </client>
    </openSSL>
{% if clickhouse_interserver_https is defined %}
    <interserver_https_port>{{ clickhouse_interserver_https }}</interserver_https_port>
{% else %}
    <interserver_http_port>{{ clickhouse_interserver_http }}</interserver_http_port>
{% endif %}
{% if clickhouse_interserver_http_credentials is defined %}
  <interserver_http_credentials>
      <user>{{ clickhouse_interserver_http_credentials.user }}</user>
      <password>{{ clickhouse_interserver_http_credentials.password }}</password>
  </interserver_http_credentials>
{% endif %}
{% if clickhouse_interserver_http_host is defined %}
    <interserver_http_host>{{ clickhouse_interserver_http_host }}</interserver_http_host>
{% endif %}
{% for host in clickhouse_listen_host %}
    <listen_host>{{ host }}</listen_host>
{% endfor %}
    <max_connections>{{ clickhouse_config.max_connections }}</max_connections>
    <keep_alive_timeout>{{ clickhouse_config.keep_alive_timeout }}</keep_alive_timeout>
    <max_concurrent_queries>{{ clickhouse_config.max_concurrent_queries }}</max_concurrent_queries>
    <uncompressed_cache_size>{{ clickhouse_config.uncompressed_cache_size }}</uncompressed_cache_size>
    <mark_cache_size>{{ clickhouse_config.mark_cache_size }}</mark_cache_size>
    <path>{{ clickhouse_path_data }}</path>
    <tmp_path>{{ clickhouse_path_tmp }}</tmp_path>
    <user_files_path>{{ clickhouse_path_user_files }}</user_files_path>
    <mlock_executable>{{ clickhouse_mlock_status }}</mlock_executable>
    <dictionaries_lazy_load>{{ clickhouse_config.dictionaries_lazy_load }}</dictionaries_lazy_load>
    <max_session_timeout>{{ clickhouse_config.max_session_timeout }}</max_session_timeout>
    <default_session_timeout>{{ clickhouse_config.default_session_timeout }}</default_session_timeout>
    <dictionaries_config>{{ clickhouse_path_configdir }}/dicts.d/*.xml</dictionaries_config>
{% if clickhouse_merge_tree_config is defined %}
    <merge_tree>
{% for config in clickhouse_merge_tree_config %}
        <{{ config }}>{{ clickhouse_merge_tree_config[config] }}</{{ config }}>
{% endfor %}
    </merge_tree>
{% endif %}
{% if clickhouse_prometheus is defined %}
{% for prometheus in clickhouse_prometheus %}
    <prometheus>
        <endpoint>{{ prometheus.endpoint }}</endpoint>
        <port>{{ prometheus.port }}</port>
        <metrics>{{ prometheus.metrics | lower }}</metrics>
        <events>{{ prometheus.events | lower }}</events>
        <asynchronous_metrics>{{ prometheus.asynchronous_metrics | lower }}</asynchronous_metrics>
    </prometheus>
{% endfor %}
{% endif %}
{% if clickhouse_ldap_servers is defined %}
    <ldap_servers>
    {% for ldap_server in clickhouse_ldap_servers %}
        <{{ ldap_server }}>
        {% for key, value in clickhouse_ldap_servers[ldap_server].items() %}
            {% if key == 'user_dn_detection' %}
            <user_dn_detection>
                <base_dn>{{ value['base_dn'] }}</base_dn>
                <search_filter>{{ value['search_filter'] }}</search_filter>
            </user_dn_detection>
            {% else %}
            <{{ key }}>{{ value }}</{{ key }}>
            {% endif %}
        {% endfor %}
        </{{ ldap_server }}>
    {% endfor %}
    </ldap_servers>
{% endif %}
{% if clickhouse_ldap_user_directories is defined %}
    <user_directories>
    {% for ldap_user_directory in clickhouse_ldap_user_directories %}
        <ldap>
            <server>{{ ldap_user_directory['server'] }}</server>
            <roles>
            {% for role in ldap_user_directory['roles'] %}
                <{{ role }}/>
            {% endfor %}
            </roles>
            {% if ldap_user_directory['role_mapping'] is defined %}
            <role_mapping>
            {% for key, value in ldap_user_directory['role_mapping'].items() %}
                <{{ key }}>{{ value }}</{{ key }}>
            {% endfor %}
            </role_mapping>
            {% endif %}
        </ldap>
    {% endfor %}
    </user_directories>
{% endif %}
{% if clickhouse_s3_endpoints is defined %}
  <s3>
  {% for s3_endpoint in clickhouse_s3_endpoints %}
    <{{ s3_endpoint }}>
    {% for key, value in clickhouse_s3_endpoints[s3_endpoint].items() %}
      <{{ key }}>{{ value }}</{{ key }}>
    {% endfor %}
    </{{ s3_endpoint }}>
  {% endfor %}
  </s3>
{% endif %}
{% if clickhouse_query_cache is defined %}
    <query_cache>
{% for key, value in clickhouse_query_cache.items() %}
        <{{ key }}>{{ value }}</{{ key }}>
{% endfor %}
    </query_cache>
{% endif %}
</clickhouse>
